@import './config.scss';
@import './service';
@import './home';

.navbar{
    h1{
        margin: 2vw
    }
    img{
        margin-left: 6vw;
        max-height: 10vw;
    }
    ul{
        display: flex;
        margin-right: 6vw;
        flex-direction: row;
        align-items: center;
        list-style: none;
        li{
            margin: 2vw;
        }
    }
}
a{
    text-decoration: none;
    color: black;
}
.services-page{
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer{
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        li{
            margin: 2vw;
        }
    }
}

.brand-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vw;
    img{
        margin: 0.5vw;
        max-width: 10vw;
    }
    h6{
        margin:0.5vw;
        opacity: 0.5;
    }

}
